{% extends 'base.html.twig' %}

{% block title %}Modifier votre commentaire{% endblock %}

{% block body %}
    <div class='container-xxl'>
        <!--BreadCrumb-->
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb my-3">
                <li class="breadcrumb-item"><a href="{{ path ('home') }}">Acceuil</a></li>
                <li class="breadcrumb-item"><a href="{{ path ('app_disc_index') }}">Disques</a></li>
                <li class="breadcrumb-item"><a href="{{ path ('app_disc_show', {id: disc.id}) }}">{{disc.title}}</a></li>
                <li class='breadcrumb-item active'>Modifier votre commentaire</li>
            </ol>
        </nav>

        <h1 class='mt-3'>Modifier votre commentaire</h1>

        {{ include('comment/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a class='btn btn-outline-secondary rounded-pill' href="{{ path('app_disc_show', {id: disc.id}) }}">Retour</a>

        {{ include('comment/_delete_form.html.twig') }}
    </div>
{% endblock %}
