{{ form_start(form, {'attr': {'class': 'row d-md-flex justify-content-center', 'novalidate': 'novalidate'}}) }}
    <div class='col-md-6'>
        {{ form_row (form.title)}}
        {{ form_row (form.artist)}}
        {{ form_row (form.year)}}
        {{ form_row (form.genre)}}
        {{ form_row (form.label)}}
        {{ form_row (form.price)}}
        {{ form_row (form.picture)}}
        <div class='col d-flex'>
            <a class='btn btn-primary me-2' href={{ path ('disc_list')}}>Retour</a>
            <button class="btn">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}