{% extends 'base.html.twig' %}

{% block title %}Disque{% endblock %}

{% block body %}

    <div class="py-2 d-flex justify-content-between">
        <h1 class="my-auto">Liste des disques</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="my-auto btn btn-primary disctext" href={{ path ('app_disc_new') }}>Ajouter un nouveau disque</a>
        {% endif %}
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2 row-cols-xxl-6 justify-content-center justify-content-sm-start">
        {% for disc in discs %}
        <div class='col col-7'>
            <div class="card h-100 shadow">
                <div class='card-img-top ratio ratio-1x1'>
                    <img src="{{ asset ('images/disc/') }}{{ disc.picture }}" class="img-fluid" alt="{{ disc.title }}" title="{{ disc.title }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ disc.title }}</h5>
                    <p class="card-text m-0"><b>Artiste : </b>{{ disc.artist.name }}</p>
                    <p class="card-text m-0"><b>Label : </b>{{ disc.label }}</p>
                    <p class="card-text m-0"><b>Année : </b>{{ disc.year }}</p>
                    <p class="card-text m-0"><b>Genre : </b>{{ disc.genre }}</p>
                    <a href="{{ path ('app_disc_show', {id: disc.id}) }}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}
