{% extends 'base.html.twig' %}

{% block title %}
	{{ disc.title }}
{% endblock %}

{% block body %}
	<div class="container-xxl">
		<!--BreadCrumb-->
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			<ol class="breadcrumb my-3">
				<li class="breadcrumb-item"><a href="{{ path ('home') }}">Acceuil</a></li>
				<li class="breadcrumb-item"><a href="{{ path ('app_disc_index') }}">Disques</a></li>
				<li class="breadcrumb-item active">{{ disc.title }}</li>
			</ol>
		</nav>

		<!--InfoDisc-->
		<div class="d-flex flex-column flex-md-row mt-2">
			<div class='d-flex flex-fill col-10 col-md-12'>
				<div class="col-3">
					<img class="img-fluid rounded border border-dark" src="{{ asset ('images/disc/') }}{{ disc.picture }}" alt="{{ disc.title }}" title="{{ disc.title }}">
				</div>
				<div class="d-flex flex-column ms-3">
					<p class="h2 m-0">{{ disc.title }}</p>
					<a href='{{ path ('app_artist_show', {id: disc.artist.id}) }}' class='text-decoration-none h4 m-0'>{{ disc.artist.name }}</a>
					<p class="m-0">Année: {{ disc.year }}</p>
					<p class="m-0">Label: {{ disc.label }}</p>
					<p class="h2 m-0 mt-auto">{{ discPrice }} €</p>
				</div>
			</div>
			{% if is_granted('ROLE_ADMIN') %}
				<div class='d-flex flex-column mt-3 col-10 align-self-center mt-md-2 align-self-md-start col-md-2'>
					{{ include('disc/_delete_form.html.twig') }}
					<a class="btn btn-outline-primary rounded-pill my-1" href="{{ path ('app_disc_edit', {id: disc.id}) }}">Modifer</a>
				</div>
            {% endif %}
		</div>

		<!--Comments-->
		<div>
			<!-- NewComment-->
			{% if is_granted('ROLE_USER') %}
				{% include "comment/_form.html.twig" %}
			{% endif %}
			<!--CommentsList-->
			{% for comment in comment %}
				<div class="mt-2">
					<div class='d-flex justify-content-between px-2'>
						<p class="m-0 fst-italic">{{ comment.user.email }}</p>
						<div class='d-flex'>
							<p class="m-0 fw-light fst-italic"><small>{{ comment.date|date('d-m-Y H:i') }}</small></p>
							{% if comment.updateDate is not null %}
								<p class='m-0 ms-2 fw-light fst-italic'><small>Modifié le{{ comment.updateDate|date('d-m-Y H:i') }}</small></p>
							{% endif %}
						</div>
					</div>
					<div class='d-flex justify-content-between border border-dark rounded m-0 p-2'>
						<p class='align-self-center m-0 text-break'>{{ comment.content }}</p>
						<div class='d-flex m-2'>
							{% if is_granted('ROLE_USER') %}
								{% if user.id == comment.user.id %}
                                <div>
                                    <a class='btn btn-outline-primary rounded-pill me-1' href={{ path ('app_comments_edit', {id: comment.id} ) }}>Modifier</a>
                                </div>
									{{ include('comment/_delete_form.html.twig') }}
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
