{% extends 'base.html.twig' %}
{% block title %}Profil{% endblock %}
{% block body %}
        <div class='mx-auto col-md-3'>
            <div class='d-flex justify-content-center py-2'>
                <img class='rounded-circle' src="{{ asset ('images/user/') }}{{ user.picture }}" width='150' heigth='150'>
            </div>

            <h1 class='h1 text-center'>Votre profil</h1>

            {% if is_granted('ROLE_ADMIN') %}
                <div class='d-flex justify-content-center'>
                    <span class="badge rounded-pill text-bg-danger text-center">Administrateur</span>
                </div>
            {% elseif is_granted('ROLE_USER') %}
                <div class='d-flex justify-content-center'>
                    <span class="badge rounded-pill text-bg-success text-center">Utilisateur</span>
                </div>
            {% endif %}

            <div class='d-flex justify-content-center my-2'>
                <a class='btn btn-primary rounded-pill' href={{ path ('app_profil_edit')}}>Modifier votre profil</a>
            </div>

            <div class=''>
                <label class='form-label mt-2'>Prénom : </label>
                <input class='form-control'value={{ user.Firstname }} readonly disabled>
                <label class='form-label mt-2'>Nom de famille : </label>
                <input class='form-control'value={{ user.Lastname }} readonly disabled>
                <label class='form-label mt-2'>Date de naissance : </label>
                <input class='form-control' value='{{ user.birthday }}' readonly disabled>
                <label class='form-label mt-2'>Adresse E-mail : </label>
                <input class='form-control'value={{ user.email }} readonly disabled>
            </div>
        </div>

{% endblock %}