{% extends 'base.html.twig' %}

{% block title %}Artiste{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between pt-2">
        <h1 class="my-auto">Liste des Artistes</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="my-auto btn btn-primary disctext" href={{ path ('app_artist_new') }}>Ajouter un nouvel Artiste</a>
        {% endif %}
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-2 row-cols-xxl-6 pt-2 justify-content-center justify-content-sm-start">
        {% for artist in artists %}
        <div class='col col-7'>
            <div class="card h-100 shadow">
                <div class='card-img-top ratio ratio-1x1'>
                    <img src="{{ asset ('images/artist/') }}{{ artist.picture }}" class="card-img-top" alt="{{ artist.name }}" title="{{ artist.name }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ artist.name }}</h5>
                    <a href="{{ path ('app_artist_show', {id: artist.id}) }}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
