{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between pt-2">
        <h1 class="my-auto ms-3">Liste des Artistes</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="my-auto me-3 btn btn-primary disctext" href={{ path ('app_artist_new') }}>Ajouter un nouvel Artiste</a>
        {% endif %}
    </div>

    <div class="d-flex justify-content-center flex-wrap mt-2">
        {% for artist in artists %}
            <div class="card m-2 shadow rounded" style="width: 19rem;">
                <img src="{{ asset ('images/artist/Artist.jpg') }}" class="card-img-top" alt="{{ artist.name }}" title="{{ artist.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ artist.name }}</h5>
                    <p class="card-text m-0"><b>URL : </b>{{ artist.URL }}</p>
                    <a href="{{ path ('app_artist_show', {id: artist.id}) }}" class="btn btn-primary mt-2">Détails</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
