{% extends 'base.html.twig' %}

{% block title %}
	{{ artist.name }}
{% endblock %}

{% block body %}
	<div class="container-xxl">
		<!--BreadCrumb-->
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			<ol class="breadcrumb my-3">
				<li class="breadcrumb-item"><a href="{{ path ('home') }}">Acceuil</a></li>
				<li class="breadcrumb-item"><a href="{{ path ('app_artist_index') }}">Artiste</a></li>
				<li class="breadcrumb-item active">{{ artist.name }}</li>
			</ol>
		</nav>

		<!--InfoDisc-->
		<div class="d-flex flex-column flex-md-row mt-2">
			<div class='d-flex flex-fill col-10 col-md-12'>
				<div class="col-3">
					<img class="img-fluid rounded border border-dark" src="{{ asset ('images/artist/') }}{{ artist.picture }}" alt="{{ artist.name }}" title="{{ artist.name }}">
				</div>
				<div class="d-flex flex-column ms-3">
					<p class="h2 m-0">{{ artist.name }}</p>
                    <p>{{artist.url}}
					<p class="h2 m-0 mt-auto">...</p>
				</div>
			</div>
			{% if is_granted('ROLE_ADMIN') %}
				<div class='d-flex flex-column mt-3 col-10 align-self-center mt-md-2 align-self-md-start col-md-2'>
					{{ include('artist/_delete_form.html.twig') }}
					<a class="btn btn-outline-primary rounded-pill mb-1" href="{{ path ('app_artist_edit', {id: artist.id}) }}">Modifer</a>
				</div>
            {% endif %}
		</div>
        <!--DiscsList-->
        <div class='border border-dark rounded p-2 mt-5'>
            {% for disc in discs %}
                <p>{{disc.title}}</p>
            {% endfor %}
        </div>
	</div>
{% endblock %}
